@model HotelBookingApp2.ViewModels.PrenotazioneViewModel

@{
    ViewData["Title"] = "Modifica Prenotazione";
    ViewData["Action"] = "Edit";
}

<h2>@ViewData["Title"]</h2>
<partial name="_PrenotazioneForm" model="Model" />
