@model HotelBookingApp2.ViewModels.CameraViewModel

@{
    ViewData["Title"] = "Aggiungi Camera";
    ViewData["Action"] = "Create";
}

<h2>@ViewData["Title"]</h2>
<partial name="_CameraForm" model="Model" />
