@model HotelBookingApp2.ViewModels.CameraViewModel

@{
    ViewData["Title"] = "Modifica Camera";
    ViewData["Action"] = "Edit";
}

<h2>@ViewData["Title"]</h2>
<partial name="_CameraForm" model="Model" />
